@use '../../styles/mixins' as *;

.intro {
  display: flex;
  height: 100%;
  border-radius: 16px;
  padding: 16px;
  align-items: flex-start;
  flex-direction: column;
  gap: 16px;
  background-color: #E4EDE3;
  background-image: url('./assets/images/green-line.svg');
  background-repeat: no-repeat;
  background-position: center right 25%;
  background-size: 90%;
  
  @include media(xl) {
    background-size: 45%;
  }

  @include media(md) {
    gap: 32px;
  }

  @include media(xxl) {
    align-items: center;
  }

  
  @include media(xxl) {
    flex-direction: row;
    align-items: stretch;
  }
  
  &__heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    color: #3f4b3e;
  }

  &__action {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
  }

  &__image {
    max-width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include media(sm) {
      max-width: 200px;
    }

    @include media(md) {
      max-width: 170px;
    }

    @include media(xl) {
      max-width: 300px;
    }

    & img {
      width: 100%;
      display: block;
    }
  }
}